$color-text: #444 !default;
$color-white-header: #fefefe !default;
$color-placeholder: lightgray !default;

$color-link-color: #007bff !default;
$color-link-color-hover: darken($color-link-color, 20%) !default;

$color-toast-blue: #4b96e6 !default;
$color-white: #ffffff !default;
$color-gray: #777777 !default;
