header {
    position: relative;
    width: 100%;
    height: 88px;
    background-color: $color-toast-blue;
    h2 {
        position: absolute;
        left: 21%;
        top: 39px;
        color: $color-white-header;
        font-size: 22px;
        span {
            font-weight: 100;
        }
        &.main_title {
            cursor: pointer;
        }
    }
    .account-cont {
        float: right;
        margin: 36px 140px 0 0;
        &__name {
            display: inline-block;
            color: $color-white;
            margin-right: 20px;
        }
        &__logout {
            width: 72px;
            height: 32px;
            vertical-align: middle;
            color: $color-toast-blue;
            background: $color-white;
        }
    }
}
